*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(78, 24, 61);
}

#scoreMenu{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(77, 33, 2);
}

#roundNumCard{
    text-align: center;
    color: aliceblue;
    font-family: cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}
#scoreCard
{
    display: flex;
    text-align: center;
    align-content: stretch;
}
#humanScoreCard, #computerScoreCard{
    border: 5px rgb(144, 41, 32) solid;
    flex: 1;
    padding: 2em;
    border-radius: 10px;
    background-color:rgb(228, 147, 210);
    border: 5px rgb(121, 52, 52) solid;
}
button{
    width: 100%;
    background-color: rgb(120, 190, 49);
    padding: 0.5em;
}

#choiceMenu{
    display: none;
}